* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: "DM Sans", sans-serif;
}

header {
  /* border: 3px solid red; */
  margin-block-end: 60px;
}
/* Styling the HomePage Hero Section */

.homePage-wrapper {
  inline-size: 100%;
  display: grid;
  place-items: center;
  margin: auto;
}

.homePage-hero-section {
  background: linear-gradient(180deg, #007dc1 0%, #0070ad 100%);
  display: grid;
  place-items: center;
  text-align: center;
  padding: 60px;
  padding-block-end: 250px;
  inline-size: 95%;
  margin: auto;
  margin-inline: 0;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.homePage-hero-section h1 {
  font-weight: 700;
  color: #94e0ff;
  margin-block-end: 20px;
  max-width: 700px;
  font-size: 65px;
}

.homePage-hero-section p {
  font-size: 20px;
  font-weight: 400;
  margin-block-end: 20px;
}

.homePage-hero-section-btn {
  display: flex;
  gap: 10px;
  margin-block-start: 20px;
  margin-block-end: 20px;
}

.homePage-hero-section-btn button:first-child {
  color: #000;
  background-color: white;
  border-radius: 17px;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.homePage-hero-section-btn button:first-child:hover {
  background-color: #000;
  color: white;
  transform: scale(1.05);
}

.homePage-hero-section-btn button:last-child {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #007dc1;
  border-radius: 17px;
  display: flex;
  gap: 3px;
  align-items: center;
  transition: all 0.3s ease;
}

.homePage-hero-section-btn button:last-child:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.homePage-hero-section small {
  font-size: 11px;
  font-weight: 400;
  max-width: 500px;
  text-align: center;
}

.homePage-hero-image {
  display: flex;
  justify-content: center;
  margin-block-start: -190px;
  margin-block-end: 40px;
}

.supported-brands {
  display: flex;
  justify-content: center;
  margin-block-end: 60px;
}

.homePage-hero-section-h2 {
  display: grid;
  place-items: center;
  flex-direction: column;
  text-align: center;
}

.homePage-hero-section-h2 h2 {
  font-size: 55px;
  font-weight: 700;
  max-width: 800px;
}

.homePage-hero-section-h2 p {
  font-size: 18px;
  font-weight: 400;
}
/* Mobile responsiveness for the Hero Section */

@media (width <= 1024px) {
  .homePage-hero-section {
    padding-block-end: 200px;
  }

  .homePage-hero-image {
    inline-size: 80%;
    margin: auto;
    border-radius: 20px;
    margin-block-start: -150px;
    margin-block-end: 40px;
  }
}

/* Mobile responsiveness for the Hero Section */
@media (width <= 768px) {
  .homePage-wrapper {
    inline-size: 100%;
    margin: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    display: initial;
    /* place-items: center; */
    /* margin: auto; */
    /* border: 3px solid black; */
  }

  .homePage-hero-section {
    display: grid;
    padding-inline: 10px;
    margin-top: -60px;
    padding-top: 7rem;
    border-radius: 20px;
    padding-block-end: 170px;
    inline-size: 95%;
    margin-inline: auto;
  }

  .homePage-hero-section h1 {
    max-width: 300px;
  }

  .homePage-hero-section p {
    max-width: 300px;
  }

  .homePage-hero-section-btn {
    justify-content: space-between;
    inline-size: 90%;
  }

  .homePage-hero-section-btn .btn {
    inline-size: 50%;
    justify-content: center;
  }

  .homePage-hero-image {
    inline-size: 90%;
    margin: auto;
    border-radius: 20px;
    overflow: clip;
    margin-block-start: -100px;

    margin-block-end: 40px;
  }

  .homePage-hero-image img {
    block-size: 100%;
    inline-size: 100%;
  }
}

/* Styling the RSS Articles  */

.rss-article-wrapper {
  margin: auto;
  margin-block-end: 40px;
  inline-size: 90%;
}

.rss-articles {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: auto;
  gap: 20px;
  /* animation: slide-up 3s ease-out forwards; */
}

.rss-box {
  position: relative;
}

.box-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  justify-content: center;
  padding: 20px;
  padding-inline-start: 50px;
}

.box-text h2 {
  font-size: 35px;
  font-weight: 600;
  margin-top: 100px;
}

.box-text small {
  font-size: 18px;
  font-weight: 400;
}

.third-box .box-text {
  max-inline-size: 600px;
}

.rss-articles .first-box {
  block-size: 596px;
  border-radius: 10px;
  background: url(https://plus.unsplash.com/premium_photo-1661378669684-6572d36f9511?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyfHx8ZW58MHx8fHx8);
  background-size: cover;
  background-repeat: no-repeat;
  /* transition: transform all 0.3s ease-in-out; */
}

.rss-box:hover {
  cursor: pointer;
  /* transform: scale(0.95); */
}

.rss-articles .second-box {
  block-size: 596px;
  border-radius: 10px;
  background: url(https://plus.unsplash.com/premium_photo-1661378669684-6572d36f9511?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyfHx8ZW58MHx8fHx8);
  background-size: cover;
  background-repeat: no-repeat;
  /* transition: transform all 0.3s ease-in-out; */
}

.rss-articles .third-box {
  /* padding-top: 40px; */
  grid-column: span 2;
  block-size: 596px;
  border-radius: 10px;
  background: url(https://plus.unsplash.com/premium_photo-1661378669684-6572d36f9511?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyfHx8ZW58MHx8fHx8);
  background-size: cover;
  background-repeat: no-repeat;
  /* transition: transform all 0.3s ease-in-out; */
}

/* Mobile Responsiveness Styling for the Slider Section */

@media (width <= 768px) {
  .rss-articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .rss-box {
    inline-size: 100%;
    margin-inline: 0;
  }
}

@media (width <= 425px) {
  .box-text {
    padding: 0px 0px 20px 20px;
  }
}

@media (width <= 375px) {
  .rss-articles .first-box {
    padding-top: 40px;
    height: 350px;
  }
  .rss-articles .second-box {
    height: 350px;
    padding: 0;
  }
  .rss-articles .third-box {
    padding-top: 40px;
    height: 350px;
  }
}

/* Styling the Slider Section */
.rss-slider-section {
  inline-size: 90%;
  margin: auto;
  margin-block-end: 60px;
  block-size: 608px;
}

.rss-slider-image-bg {
  background: url(../../images/Slider-bg.png);
  background-size: cover;
  background-position: 20%;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px;
  padding-inline-start: 50px;
  block-size: 100%;
}

.rss-slider-text {
  color: white;
  padding-top: 50px;
}

.rss-slider-text h1 {
  font-size: 65px;
  font-weight: 700;
  color: white;
  max-width: 800px;
}

.rss-slider-text p {
  font-weight: 400;
  max-width: 550px;
}

.rss-slider-carousel {
  inline-size: 50%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  block-size: 230px;
}

.rss-sliders {
  padding: 20px;
  position: relative;
  bottom: 220px;
  gap: 10px;
}

.rss-single-slider-wrapper {
  display: flex;
  list-style-type: none;
  transition: transform 0.5s ease-in-out;
  inline-size: fit-content;
  overflow: hidden;
}

.rss-single-slider {
  inline-size: 100%;
  flex-shrink: 0;
  display: none;
}

.rss-single-slider.active {
  display: block;
}

.rss-slider-carousel-text {
  color: white;
  font-weight: 500;
  max-width: 400px;
}

.rss-slider-carousel-text p:first-child {
  margin-block-end: -2px;
  font-weight: 500;
}

.rss-slider-carousel-text p:nth-child(2) {
  font-weight: 500;
}

.rss-sliders .btn {
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  inline-size: 30%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  margin-inline-start: 30px;
}

.rss-sliders .btn:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.carousel-pagination {
  margin-inline-start: 70px;
  inline-size: fit-content;
  margin-top: -20px;
  margin-block-end: 20px;
}

.flex {
  display: flex;
}

.dash {
  height: 3px;
  width: 7px;
  margin: 5px;
  background-color: #bbb;
  display: inline-block;
  cursor: pointer;
}

.dash.active {
  background-color: white;
}

/* Mobile responsiveness for the slider section */
@media (width <= 768px) {
  .rss-slider-image-bg {
    background-position: 90%;
    padding-left: 0px;
    display: grid;
    justify-content: space-between;
  }

  .rss-slider-text h1 {
    inline-size: 100%;
    font-size: 30px;
    padding: 0;
    margin: 0;
  }

  .rss-slider-text {
    color: white;
    padding: 20px;
    margin: auto;
  }

  .rss-slider-carousel-logo {
    margin-inline-start: 20px;
  }

  .rss-slider-carousel-text p:nth-child(2) {
    font-weight: 500;
    max-width: 350px;
    text-wrap: wrap;
  }

  .rss-slider-carousel {
    align-items: end;
    inline-size: 90%;
    margin: auto;
    padding: initial;
    margin-block-start: 30px;
  }

  .rss-sliders .btn {
    inline-size: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
}

@media (width <= 425px) {
  .rss-slider-carousel {
    margin-block-start: initial;
  }
}

/* Styling the Explore Our Homes Section  */
.explore-our-homes {
  inline-size: 90%;
  margin: auto;
  margin-block-end: 60px;
}

.explore-our-homes-header {
  margin-inline-start: 50px;
  margin-block-end: 40px;
}

.explore-our-homes-header h2 {
  font-size: 35px;
  font-weight: 600;
}

.explore-our-homes-apartments {
  block-size: 572px;
  display: grid;
  grid-template-columns: 27% 27% 1fr;
  gap: 20px;
  inline-size: 100%;
  justify-content: space-between;
  color: white;
}

.explore-our-homes-apartments h2 {
  font-size: 25px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.explore-our-homes-apartments p {
  font-size: 14px;
  font-weight: 500;
}

.explore-our-homes-apartments .btn {
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  inline-size: fit-content;
  transition: all 0.3s ease-in;
}

.explore-our-homes-apartments .btn:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.explore-our-homes-apartments .left-apartment {
  background: url(../../images/left-apartment.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  padding: 20px;
  block-size: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.explore-our-homes-apartments .middle-apartment-wrapper {
  display: grid;
  grid-template-rows: 66.5% 30%;
  gap: 20px;
}

.explore-our-homes-apartments .top-middle-apartment {
  background: url(../../images/middle-apartment.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.explore-our-homes-apartments .bottom-middle-apartments {
  padding: 30px;
  border-radius: 20px;
  background-color: #007dc1;
  display: flex;
  align-items: end;
}

.bottom-middle-apartments h2 {
  max-width: 300px;
  font-size: 30px;
}

.explore-our-homes-apartments .right-apartment-wrapper {
  display: grid;
  grid-template-rows: 30% 66.5%;
  gap: 20px;
}

.explore-our-homes-apartments .top-right-apartment {
  background: url(../../images/top-right-apartment.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.explore-our-homes-apartments .bottom-right-apartment {
  background: url(../../images/bottom-right-apartment.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Mobile responsiveness for the Explore Our Homes Section  */

@media (width <= 768px) {
  .explore-our-homes-header {
    max-width: 410px;
  }

  .explore-our-homes-header h2 {
    font-size: 25px;
  }

  .explore-our-homes p {
    font-size: 14px;
  }

  .explore-our-homes-apartments {
    block-size: 400px;
    display: flex;
    gap: 20px;
    padding-inline-start: 30px;
    overflow: clip;
    flex-shrink: 0;
  }

  .explore-our-homes-apartments.active {
    display: block;
  }

  .explore-our-homes-apartments .middle-apartment-wrapper {
    display: flex;
  }

  .explore-our-homes-apartments .right-apartment-wrapper {
    display: flex;
  }

  .apartment {
    min-inline-size: 300px;
  }

  .apartment h2 {
    font-size: 25px;
  }

  .apartment p {
    font-size: 14px;
  }

  .dot.active {
    background-color: white;
  }
  .explore-our-homes .carousel-pagination {
    margin: auto;
    margin-top: 10px;
  }

  .explore-our-homes .carousel-pagination .dot {
    width: 7px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #bbb;
  }
}

@media (width <= 400px) {
  .explore-our-homes-header {
    margin: auto;
  }

  .explore-our-homes-apartments {
    margin: auto;
    padding-inline-start: 0;
  }
}

/* Styling the Find a Neighborhood Section  */

.find-a-neighbourhood {
  inline-size: 100%;
  padding: 80px 100px;
  background-color: #007dc1;
  margin-block-end: 60px;
  color: white;
  position: relative;
}

.find-a-neighbourhood-header h2 {
  font-size: 35px;
  font-weight: 600;
}
.find-a-neighbourhood .location-wrapper h1 a {
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.find-a-neighbourhood .location-wrapper h1 a:hover {
  text-decoration: underline;
}

.find-a-neighbourhood .pagination-line {
  height: 5px;
  margin-top: 0;
  inline-size: 70%;
  transition: width 0.3s ease-in-out;
}

.find-a-neighbourhood-location-wrapper {
  display: flex;
  gap: 20px;
}

.find-a-neighbourhood-location-wrapper .location a {
  font-size: 1.1rem;
  color: white;
}

.find-a-neighbourhood .lagos-apartments-list {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.find-a-neighbourhood .apartment-dropdown {
  display: flex;
  gap: 10px;
  height: 10px;
  align-items: baseline;
  margin-block-end: 2rem;
}

.apartment-dropdown p {
  font-size: 1.5rem;
}

.apartment-dropdown button {
  border: none;
  background-color: transparent;
}

.apartment-dropdown-menu {
  position: relative;
}

.lagos-neighbourhood-apartments {
  position: relative;
  list-style-type: none;
  padding: 0;
}

.lagos-apartments-neighbourhood-list {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  inline-size: fit-content;
  border-radius: 15px;
  padding: 20px;
  top: 40px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 120px);
  gap: 10px;
}

.lagos-apartments-neighbourhood-list a {
  color: #000;
}

/* Mobile Responsiveness Styling for Find a Neighborhood Section  */
@media (width <= 768px) {
  .find-a-neighbourhood-header h2 {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .apartment-dropdown p {
    font-size: 1.3rem;
  }
  .lagos-apartments-neighbourhood-list {
    grid-template-columns: repeat(3, 120px);
  }
}

@media (width <= 460px) {
  .find-a-neighbourhood-header h2 {
    font-size: 1.1rem;
  }
  .apartment-dropdown p {
    font-size: 0.9rem;
  }

  .lagos-apartments-neighbourhood-list {
    grid-template-columns: repeat(2, 100px);
  }
}

/* Styling the Result Analytics Section */
.result-analytics {
  inline-size: 90%;
  margin: auto;
  padding: 20px 40px;
  margin-block-end: 60px;
}

.result-analytics-header h1 {
  font-size: 18px;
  font-weight: 400;
}

.result-analytics-header p {
  font-size: 35px;
  max-width: 1100px;
  font-weight: 600;
}

.result-analytics-data-wrapper {
  display: flex;
  max-width: 900px;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-block-end: 60px;
}

.result-analytics-data {
  display: flex;
  flex-direction: column;
}

.result-analytics-data h2 {
  font-size: 70px;
  padding: 0;
  margin: 0;
  font-weight: 600;
}

.result-analytics-data p {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.result-analytics-tenancy {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-block-end: 40px;
  margin-block-start: 40px;
}

.result-analytics-image-wrapper {
  block-size: 345px;
  inline-size: 50%;
  background-color: #f7f7f7;
  overflow: clip;
  border-radius: 15px;
}

.result-analytics-image-wrapper img {
  object-fit: cover;
  inline-size: 80%;
  margin: auto;
  margin-top: 35px;
}

.result-analytics-tenancy-plan {
  inline-size: 50%;
}
.result-analytics-tenancy-plan h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.result-analytics-tenancy-plan ul {
  margin-inline-start: 20px;
  margin-block-end: 20px;
}

.result-analytics-tenancy-qrcode-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #dddddd;
  border-radius: 15px;
  padding-inline: 10px;
}

.result-analytics-tenancy-qrcode-text {
  padding-block-start: 1rem;
}

.result-analytics-tenancy-qrcode img {
  aspect-ratio: 1;
  image-rendering: pixelated;
}

.result-analytics-tenancy-qrcode-text h2 {
  font-size: 1.5rem;
}

.result-analytics-tenancy-qrcode-text p {
  max-width: 250px;
}

/* Mobile Responsiveness Styling the Result Analytics Section */

@media (width<= 768px) {
  .result-analytics-data-wrapper {
    display: grid;
    justify-content: start;
    gap: 20px;
  }

  .result-analytics-tenancy {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .result-analytics-tenancy-plan {
    inline-size: 100%;
  }

  .result-analytics-image-wrapper {
    block-size: 345px;
    inline-size: 100%;
    background-color: #f7f7f7;
    overflow: clip;
    border-radius: 15px;
  }

  .result-analytics-image-wrapper img {
    object-fit: cover;
    inline-size: 80%;
    margin: auto;
    margin-top: 35px;
  }
  .result-analytics-tenancy-qrcode-wrapper {
    inline-size: fit-content;
  }

  .result-analytics-tenancy-qrcode-text h2 {
    font-size: 1rem;
  }

  .result-analytics-tenancy-qrcode-text p {
    font-size: 14px;
  }
}

/* Styling the FAQs Section */
.frequently-asked-questions {
  margin: auto;
  margin-block-end: 60px;
}

.faqs-header {
  text-align: center;
}

.faqs-header h1 {
  font-size: 35px;
  font-weight: 600;
}

.faqs-header p {
  font-size: 0.8rem;
  font-weight: 400;
}

.faqs-wrapper {
  inline-size: 60%;
  margin: auto;
  margin-block-end: 40px;
  display: grid;
  gap: 10px;
}

.single-faq {
  border: 1px solid #dddddd;
  background-color: #dddddd;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}

.single-faq .faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-faq .faq-question p {
  font-size: 25px;
  margin: 0;
  font-weight: 500;
}

.single-faq .faq-question-btn span {
  font-size: 25px;
  font-weight: 500;
}

.faq-question-btn button {
  outline: none;
  border: none;
  background-color: transparent;
}

.faq-question-btn .open-icon {
  color: #000;
}

.faq-question-btn .close-icon {
  color: #000;
}

.see-more-faqs {
  color: #000;
  text-decoration: underline;
  font-weight: 600;
}

/* Mobile Responsiveness Styling the FAQs Section */
@media (width <= 768px) {
  .faqs-wrapper {
    inline-size: 90%;
  }
}

/* Styling the Speak with us Section */
.speak-with-us-wrapper {
  inline-size: 95%;
  margin: auto;
  margin-block-end: 60px;
}

.speak-with-us {
  background: url(../../images/LadyOnYellow.png);
  background-repeat: no-repeat;
  background-size: cover;
  block-size: 479px;
  inline-size: 100%;
  border-radius: 20px;
  position: relative;
  padding: 40px;
}

.speak-with-us-content {
  /* block-size: 200px; */
  justify-content: start;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  bottom: 80px;
  left: 80px;
  padding: 40px 80px;
  min-width: 200px;
}

.speak-with-us-content h1 {
  font-size: 36px;
  font-weight: 700;
  max-width: 250px;
}

.speak-with-us-content p {
  max-width: 200px;
  font-size: 0.7rem;
}

.speak-with-us-content .btn {
  font-size: 0.7rem;
  font-weight: 600;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  inline-size: fit-content;
  transition: all 0.3s ease-in;
  display: flex;
  margin: auto;
}

.speak-with-us-content .btn:hover {
  background-color: white;
  color: #000;
  transform: scale(1.05);
  border: 1px solid black;
}

/* Mobile Responsiveness Styling for the Speak with us Section */
@media (width <= 768px) {
  .speak-with-us {
    block-size: 500px;
    background-position: 60%;
    display: flex;
    align-items: end;
    justify-content: center;
  }

  .speak-with-us-content {
    position: initial;
    inline-size: 70%;
    margin-bottom: 32px;
    height: auto;
    padding: 10px;
  }

  .speak-with-us-content p {
    max-width: 170px;
    font-size: 0.7rem;
  }

  .speak-with-us-content .btn {
    inline-size: 80%;
  }
}
