* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px 80px;
}

.container-fluid {
  padding: 30px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: wrap;
}

.get-started p {
  font-size: 14px;
  font-weight: 400;
}

.get-started h1 {
  font-size: 40px;
  font-weight: 600;
  max-width: 600px;
}

.get-started .btn-wrapper {
  display: flex;
  gap: 10px;
  margin-block-start: 2rem;
}

.get-started .btn-wrapper .btn {
  border: 1px solid #bccbd7;
  font-size: 14px;
  font-weight: 400;
  inline-size: 70%;
  padding-block: 10px;
  transition: all 0.3s ease-in;
  border-radius: 8px;
}

.get-started .btn-wrapper .btn:hover {
  background-color: black;
  color: white;
  transform: scale(1.01);
}

.get-started .btn-wrapper .btn:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.5);
  background-color: black;
  color: white;
  transform: scale(1.03);
}

/* Styling the Pagination  */
.pagination {
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
  block-size: 3px;
  background-color: #e0e0e0;
  position: relative;
}

.slide {
  inline-size: 20%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  background-color: #e0e0e0;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.slide.active {
  background-color: var(--blue);
}

/* Styling the aside component */
aside {
  margin-block-start: 40px;
}

.aside-content {
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: #e5f2f8;
}

aside p:first-child {
  font-size: 14px;
  font-weight: 500;
  margin-block-end: 5px;
}

aside p:last-child {
  font-size: 14px;
  font-weight: 400;
  max-width: 400px;
  text-wrap: balance;
  margin: 0;
}

/* Mobile Responsiveness*/

@media (width <= 768px) {
  header {
    padding: 10px;
  }

  .get-started {
    margin-block-end: 90px;
  }

  .get-started h1 {
    font-size: 30px;
    font-weight: 600;
    max-width: 600px;
  }

  .container-fluid {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .btn-wrapper {
    flex-direction: column;
    inline-size: 60%;
  }
}

@media (width <= 425px) {
  .btn-wrapper {
    flex-direction: column;
    inline-size: 70%;
  }
}
