* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
  /* padding: 0; */
}

/* header style for Desktop view */
header {
  margin-block-end: 50px;
}

.navbar {
  background: white;
}

.search-icon-btn {
  color: #000;
}

.nav-item a {
  color: #000;
}

.user_icon--dropdown {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 12px;
  inline-size: 350px;
}

.wallet-balance {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-inline-end: 1rem;
}

.wallet-text {
  width: 70%;
}

.wallet-btn {
  flex: 1;
  font-size: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
}

/* Mobile responsiveness for the header */

@media (width <= 768px) {
  .login-btn {
    width: initial;
  }

  .user_icon--dropdown {
    inline-size: initial;
    right: 0;
  }
}

.container {
  display: grid;
  place-items: center;
  width: 50%;
  padding-block-end: 4rem;
}

.inspection-header {
  border: 1.5px solid #dddddd;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  margin-block-end: 30px;
}

.inspection-header p:first-child {
  font-weight: 500;
  color: #414042;
  align-items: center;
  gap: 5px;
}

.inspection-header p:last-child {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.neighbourhood {
  display: flex;
  align-items: center;
  gap: 20px;
  inline-size: 90%;
  margin-block-end: 10px;
}

.neighbourhood-image {
  height: 100px;
}

.neighbourhood-image img {
  block-size: 100%;
  border-radius: 10px;
}

.neighbourhood-details p:first-child {
  font-weight: 600;
  margin: 0;
}

.neighbourhood-details p:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.inspection-details {
  inline-size: 90%;
}

.inspection-details h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.inspection-type {
  font-weight: 600;
}

.inspection-details-extras {
  display: flex;
  gap: 100px;
}

.inspection-details-extras div p:first-child {
  font-weight: 600;
}

.btn {
  inline-size: 40%;
  padding: 10px;
  border-radius: 7px;
  color: white;
  background-color: #007dc1;
}

.btn a {
  color: white;
  text-decoration: none;
}

.btn:hover {
  color: white;
  background-color: #015380;
  transform: scale(1);
}

.line-through {
  border: 1px solid #dddddd;
  inline-size: 90%;
  margin-top: 20px;
  margin-block-end: 30px;
}

.first-line {
  min-inline-size: 100%;
  padding: 0;
  margin-top: 0;
}

@media (width <= 768px) {
  .container {
    width: 95%;
  }

  .btn {
    inline-size: 60%;
  }
}

@media (width <= 425px) {
  .container {
    width: 100%;
  }
  .btn {
    inline-size: 90%;
  }
}
