* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
}

/* header style for Desktop view */
.header {
  margin-block-end: 50px;
}

.navbar {
  background: white;
}

.search-icon-btn {
  color: #000;
}

.nav-item a {
  color: #000;
}

.user_icon--dropdown {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 12px;
  inline-size: 350px;
}

.wallet-balance {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-inline-end: 1rem;
}

.wallet-text {
  width: 70%;
}

.wallet-btn {
  flex: 1;
  font-size: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
}

/* Mobile responsiveness for the header */

@media (width <= 768px) {
  .login-btn {
    width: initial;
  }

  .user_icon--dropdown {
    inline-size: initial;
    right: 0;
  }
}

.single-apartment-images-wrapper {
  gap: 0;
  inline-size: 100%;
}
.single-apartment-images-wrapper img {
  border-radius: 0;
  inline-size: 100%;
}

/* Mobile responsiveness for the header */

@media (width <= 768px) {
  .nav-bar {
    padding: 20px 15px;
    margin: 0;
    inline-size: 100%;
    border-radius: initial;
    background-color: white;
  }

  .middle-nav {
    inline-size: 100%;
    margin-inline: 10px;
    display: flex;
    justify-content: space-between;
  }

  .logged-in {
    display: flex;
  }
}

/* Styling the main container */

.main-container {
  margin-inline: 8.5rem;
}

.apartment-location-header {
  background-color: #e0eff7;
  width: fit-content;
  margin-top: 5rem;

  & a {
    color: #000;
  }
}

.single-apartment-header-details h2 {
  font-size: 23px;
  font-weight: 600;
}

.single-apartment-header-payment {
  display: flex;
  align-items: last baseline;
}

.single-apartment-header-line-divider {
  height: 20px;
  border: 1px solid #dddddd;
}

.single-apartment-header-payment h3 {
  font-size: 16px;
  font-weight: 600;
}

.single-apartment-header-payment small {
  font-size: 12px;
}

.availability-status {
  display: flex;
  align-items: baseline;
  gap: 2px;
}

.availability-status p {
  color: #00cda6;
  font-size: 14px;
}

.availability-status p.unavailable {
  color: #ff0000;
  font-size: 14px;
}

.availability-status .status-indicator {
  width: 7px;
  height: 7px;
  background-color: #00cda6;
  border-radius: 50%;
}

.availability-status .status-indicator.inactive {
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 50%;
}

.single-apartment-first-image img {
  inline-size: 100%;
}

.single-apartment-right-images-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  inline-size: 100%;
  position: relative;
}

.single-apartment-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.single-apartment-right-images {
  gap: 7px;
  display: grid;
  inline-size: 100%;
}

.single-apartment-right-images-wrapper .single-img {
  inline-size: 100%;
}

.mobile-view {
  display: none;
}

.see-more-apartment a {
  background-color: white;
  border-radius: 7px;
  color: #000;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.see-more-apartment a img {
  height: 15px;
  width: 15px;
}

.line-through-black {
  border: 1px solid #dddddd;
  margin-block: 2rem;
}

.single-property-about h2,
.single-property-rules h2,
.single-property-amenities h2,
.single-property-affordability h2 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: -1rem;
}

/* Mobile responsiveness styling for the main container */

@media (width <= 768px) {
  .main-container {
    margin-inline: 1rem;
  }

  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
    gap: 20px;
  }

  .single-apartment-wrapper {
    inline-size: 100%;
    block-size: 400px;
  }

  .single-img {
    block-size: 100%;
    border-radius: 10px;
  }

  .single-apartment-details-mobile h2 {
    display: none;
  }

  .apartment-location-header {
    margin-top: 2rem;
  }
}

@media (width <= 500px) {
  .single-apartment-wrapper {
    inline-size: 100%;
    block-size: 315px;
  }

  .single-img {
    block-size: 100%;
    border-radius: 10px;
  }
}

@media (width <= 375px) {
  .single-apartment-wrapper {
    inline-size: 100%;
    block-size: 300px;
  }

  .single-img {
    block-size: 100%;
    border-radius: 10px;
  }
}

@media (width <= 320px) {
  .single-apartment-wrapper {
    inline-size: 100%;
    block-size: 250px;
  }

  .single-img {
    block-size: 100%;
    border-radius: 10px;
  }
}

ul li {
  list-style-type: none;
}

/* Styling the single apartment extras */
.single-apartment-details-wrapper {
  display: flex;
  justify-content: space-between;
}

.single-apartment-details-mobile {
  display: flex;
  flex-direction: column;
}

.single-apartment-details-mobile-content {
  display: flex;
  flex-wrap: wrap;
}

.single-apartment-details-mobile-content li {
  font-size: 14px;
}

.line-through-black.none {
  display: none;
}

.bull {
  margin-inline: 10px;
}

.single-apartment-extras {
  border: 1.5px solid #dddddd;
  padding: 20px;
  border-radius: 10px;
}

.single-apartment-extras ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.single-apartment-extras ul li {
  display: flex;
  list-style-type: none;
  transition: all 0.3s ease-in;
}

.single-apartment-extras ul li a {
  display: flex;
  transition: all 0.3s ease-in;
  gap: 10px;
}

.single-apartment-extras ul li:hover {
  text-decoration: underline;
}

.single-apartment-extras .btn-wrapper {
  display: flex;
  gap: 2px;
  justify-content: space-between;
  background-color: black;
  padding: 4px;
  border-radius: 10px;
}

.single-apartment-extras .btn-wrapper .btn {
  background-color: white;
  display: flex;
  justify-content: center;
  inline-size: 50%;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.single-apartment-extras hr {
  margin-top: 0;
}

.single-apartment-extras .btn-wrapper .btn {
  background-color: black;
  color: white;
}

.single-apartment-extras .btn-wrapper .btn:hover {
  background-color: white;
  color: black;
  transform: scale(1);
}

.single-apartment-extras .btn-wrapper .btn:focus {
  background-color: white;
  color: black;
}

.line-through-black.dot {
  display: block;
  width: 60%;
  margin-top: 0;
}

@media (width <= 768px) {
  .single-apartment-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 0;
  }

  .single-apartment-header-payment h3 {
    font-size: 16px;
    font-weight: 700;
  }

  .single-apartment-header-payment li:nth-child(4) {
    align-self: self-start;
  }

  .single-apartment-header-payment {
    display: flex;
    justify-content: space-between;
    /* align-items: start; */
  }

  .single-apartment-details-mobile {
    margin: auto;
  }

  .single-apartment-details-mobile .line-through-black {
    display: none;
  }

  .line-through-black.none {
    display: block;
  }

  .line-through-black.dot {
    display: none;
  }

  .single-apartment-extras {
    margin: auto;
    border: 1.5px solid #dddddd;
    padding: 8px;
    border-radius: 10px;
  }

  .single-apartment-extras {
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 999;
    inline-size: 90%;
    padding: 1rem;
  }

  .single-apartment-extras ul {
    display: flex;
    justify-content: space-between;
    gap: initial;
  }

  .single-apartment-extras ul li {
    display: flex;
    list-style-type: none;
    align-items: center;
  }

  .single-apartment-extras .btn {
    font-size: 13px;
  }

  .bull {
    margin-inline: 5px;
  }
}

@media (width <= 425px) {
  .single-apartment-details-mobile-content {
    display: flex;
    justify-content: center;
  }
}

@media (width <= 375px) {
  .bull:nth-child(6) {
    display: none;
  }

  .single-apartment-extras ul {
    display: flex;
    justify-content: space-between;
    gap: initial;
  }

  .single-apartment-extras ul li a {
    font-size: 13px;
    gap: 4px;
  }
}

.single-property-amenities ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  inline-size: 50%;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 3rem;
}

.single-property-amenities ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (width <= 768px) {
  .single-property-amenities ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    inline-size: 90%;
    font-weight: 500;
    font-size: 14px;
  }
}
.single-property-rules ul {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  display: grid;
  gap: 5px;
  margin-bottom: 3rem;
}

.single-property-rules ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (width <= 768px) {
  .single-property-rules ul li {
    font-weight: 500;
    font-size: 16px;
  }
}

/* Styling the affordability calculator */
.affordability-calculator {
  inline-size: 80%;
  margin-bottom: 4rem;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #dddddd;

  display: grid;
  grid-template-columns: 55% 45%;
}

.affordability-calculator-text p,
.affordability-income p {
  font-size: 14px;
  font-weight: 500;
  max-width: 340px;
}

.affordability-calculator-text h3 {
  font-size: 24px;
  font-weight: 600;
}

.form-label {
  inline-size: 100%;
}

.affordability-calculator input {
  inline-size: 80%;
}

.affordability-income {
  background-color: white;
  border-radius: 9px;
  border: 1px solid #dddddd;
  padding: 25px 15px;
}

.affordability-income h3 {
  font-size: 28px;
  font-weight: 600;
}

.affordability-income p:last-child {
  font-size: 14px;
  font-weight: 400;
}

@media (width <= 768px) {
  .affordability-calculator {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.single-apartment-details-wrapper-sticky {
  position: sticky;
  background-color: white;
  bottom: 0;
  inline-size: 96%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  padding-inline-start: 4rem;
  border-radius: 10px;
}

@media (width<= 768px) {
  .single-apartment-details-wrapper-sticky {
    display: none;
  }
}

.single-apartment-details-wrapper-sticky h2 {
  font-size: 18px;
  font-weight: 600;
}

.sticky-price {
  display: flex;
  align-items: last baseline;
}

.single-apartment-details-wrapper-sticky li p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

.single-apartment-details-wrapper-sticky li h3 {
  margin-bottom: 0;
}

.subscription-price small {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 13.86px;
  letter-spacing: -0.02em;
  text-align: left;
}

.single-apartment-details-wrapper-sticky .btn-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  background-color: black;
  padding: 4px;
  border-radius: 10px;
}

.single-apartment-details-wrapper-sticky .btn-wrapper .btn {
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 10px;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.single-apartment-details-wrapper-sticky .btn-wrapper .btn:hover {
  display: flex;
  color: black;
  background-color: white;
}

/* Styling the Neighbourhood section */

.single-neighbourhood {
  padding-block-end: 4rem;
}

.single-neighbourhood h2 {
  padding-bottom: 4rem;
  font-size: 23px;
  font-weight: 600;
}

.neighbourhood-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.neighbourhood {
  display: flex;
  align-items: center;
  gap: 10px;
}

.neighbourhood-details p {
  margin: 0;
}

.neighbourhood-details p:first-child {
  font-weight: 500;
  margin: 0;
}

.neighbourhood-details p:nth-child(2) {
  font-weight: 300;
  font-size: 14px;
}

@media (width<= 768px) {
  .neighbourhood-wrapper {
    display: grid;
    gap: 20px;
  }
}

/* Styling the Modal */

/* Apply the sliding animation */
.modal.slide-from-bottom .modal-dialog {
  animation: slide-from-bottom 0.9s ease-in-out;
}

@keyframes slide-from-bottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-content {
  margin-top: 4rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-header {
  padding: 10;
  margin: 0;
}

.modal-title {
  font-weight: 700;
  /* padding-inline: 1rem; */
}

.modal-header .close {
  padding: 0;
  margin: 0;
}

.modal-body-wrapper {
  padding: 10px;
  border-radius: 10px;
}

.modal-body-wrapper > p {
  font-size: 18px;
  font-weight: 500;
}

.modal-body {
  border: 1.5px solid #b0b0b0;
  border-radius: 15px;
  padding: 0;
  margin-inline: 0.8rem;
}

.modal-body select {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-group select {
  outline: none;
  border: none;
  font-weight: 500;
}

.form-group {
  margin-inline-end: 3.5rem;
}

select,
input {
  outline: none;
  background: transparent;
}

select:focus,
input:focus {
  background: transparent;

  outline: none;
  box-shadow: none;
}

.form-control {
  border: none;
  inline-size: 100%;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  border: none;
  background: transparent;
}

.modal-backdrop {
  /* position: initial; */
  /* z-index: 0; */
}

.form-group-wrapper {
  border: 1.5px solid #b0b0b0;
  border-radius: 10px;
}

.form-group {
  padding: 10px;
  padding-bottom: 0;
}

.subscription-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding-inline: 10px;
}

.border-left {
  height: 60px;
}

.subscription-price p {
  font-size: 16px;
  font-weight: bold;
}

.subscription-payment-plan-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-payment-plan {
  inline-size: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.subscription-payment-plan select {
  border: none;
  outline: none;
}

.line-division {
  height: 50px;
  border: 1px solid #dddddd;
  margin-inline: 10px;
}

.subscription-payment-plan p {
  margin: 0;
  font-weight: 500;
}

.subscription-details-wrapper {
  padding: 10px;
}

.subscription-details-wrapper p:first-child {
  font-size: 18px;
  font-weight: bold;
}

.subscription-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.subscription-details p:first-child {
  font-weight: 400;
  font-size: 16px;
}

.subscription-details p span {
  font-weight: 400;
  font-size: 11px;
  margin-left: 3px;
}

.schedule-text {
  display: flex;
  font-size: 14px;
}

@media (width <= 768px) {
  .form-group {
    inline-size: 100%;
    margin-inline-start: 15px;

    & select {
      inline-size: 90%;
    }
  }
  .subscription-plan {
    font-size: 14px;
  }

  .subscription-payment-plan:first-child {
    margin-inline-start: 15px;
    inline-size: 50%;
  }

  .subscription-payment-plan:last-child {
    margin-inline-start: 0px;
    padding-inline-end: 20px;
    inline-size: 50%;
  }

  .subscription-payment-plan label {
    display: flex;
    margin: 0;
  }

  .subscription-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 10px;
  }

  .subscription-details-wrapper > p {
    font-size: 16px;
    font-weight: 500;
    margin-inline: 10px;
  }

  .subscription-details p:first-child {
    font-weight: 400;
    font-size: 14px;
  }

  .subscription-details p:last-child {
    font-weight: 400;
    font-size: 16px;
    display: grid;
    margin-inline-start: 2rem;
  }

  .subscription-details p span {
    display: flex;
    padding: 0;
    margin-left: 0;
  }

  .subscription-total {
    margin-inline: 15px;
  }

  .subscription-total p:first-child {
    font-weight: 500;
  }

  .subscription-total p:last-child {
    font-weight: 600;
    margin-inline-start: 2rem;
  }

  .modal-checkbox-wrapper {
    display: flex;
    justify-content: center;
  }

  .schedule-text-wrapper {
    display: flex;
    padding-inline: 1rem;
  }
}

.subscription-details p:last-child {
  font-weight: 600;
}

.subscription-total {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.subscription-caution p {
  display: flex;
  align-items: center;
  gap: 3px;
}

.modal-footer .btn {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
  transition: all 0.3s ease-in;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-header .close {
  margin: 0;
}

.modal-footer .btn {
  color: white;
  background-color: black;
  text-decoration: none;
  border: 2px solid transparent;
}

.modal-footer .btn:hover {
  color: black;
  background-color: white;
  text-decoration: none;
  border: 2px solid black;
}

.input-container input {
  border: none;
  outline: none;
}

.modal-body-wrapper .schedule-text {
  font-weight: 400;
  font-size: 14px;
}

.modal-checkbox {
  font-size: 11px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 0;
}

.modal-checkbox p {
  margin: 0;
}

@media (width <= 768px) {
  .modal-checkbox > * {
    justify-content: center;
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modal-footer .btn {
    inline-size: 80%;
  }

  .modal-body {
    margin-inline: initial;
  }

  .subscription-details {
    gap: initial;
  }

  .subscription-total {
    gap: initial;
  }

  .form-group,
  .subscription-plan,
  .subscription-details-wrapper {
    padding-inline: initial;
  }
}
